h3 {
  top: 20px;
  left: 40%
}

.comm1 {
  border-radius: 25px;
  border-style: solid;
  border-color: black;
  display: block;
  position: absolute;
  left: 10%;
  top: 2%;
  width: 25%;
  margin: 20px;
  overflow: hidden;
}

.comm1 h4 {
  position: relative;
  margin-left: 5px;
}

.comm1 a {
  position: relative;
  margin-left: 5px;
}