h3 {
  top: 20px;
  text-align: center;
  font-family: Comfortaa;
  color: white;
}
.comm-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: Comfortaa;
  margin-left: 5%;
  margin-right: 5%;
}
.comm {
  flex: 25%;
  margin: auto;
  border-radius: 25px;
  border-style: solid;
  border-color: white;
  width: 25%;
  height: auto;
  margin: 20px;
  text-align: center;
  font-family: Comfortaa;
  background-image: linear-gradient(to bottom right, rgb(48, 173, 231), rgb(218, 81, 138))
}


@media only screen and (max-width: 768px) {
}