p {
  color: white;
  text-align: center;
  font-size: 20px;
  font-family: verdana;
}

.zukrypfp {
  float: left;
  position: absolute;
  left: 200px;
  top: 150px;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  overflow: hidden;
}

h2 {
  color: white;
  text-align: center;
  padding-top: 20px;
  font-size: 30px;
}

.zukry a {
  color: black;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 17px;
  background-color: white;
  overflow: hidden;
  border-radius: 30px;
}

.zukry a:hover {
  background-color: black;
  color: white;
}

.xskypfp {
  float: right;
  position: absolute;
  right: 200px;
  top: 370px;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  overflow: hidden;
}

.luxiferpfp {
  float: left;
  position: absolute;
  left: 200px;
  top: 590px;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  overflow: hidden;
}

.lux a {
  color: black;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 17px;
  background-color: white;
  overflow: hidden;
  border-radius: 30px;
}

.lux a:hover {
  background-color: black;
  color: white;
}

.pyropfp {
  float: right;
  position: absolute;
  right: 200px;
  top: 810px;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  overflow: hidden;
}

.bcgpfp {
  float: left;
  position: absolute;
  left: 200px;
  top: 1030px;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  overflow: hidden;
}

.lorcanpfp {
  float: right;
  position: absolute;
  right: 200px;
  top: 1250px;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  overflow: hidden;
}

.wunderpfp {
  float: left;
  position: absolute;
  left: 200px;
  top: 1470px;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  overflow: hidden;
}