nav a {
  text-decoration: none;
  color: black;
  opacity: 100%;
  float: left;
  font-size: medium;
}
nav {
  background-color: white;
  opacity: 25%;
}
.Main {
  font-weight: bold;
  font-size: large;
  padding-top: 10px;
}
.Sub {
  padding: 20px;
}

@media only screen and (max-width: 768px) {
}