nav a {
  text-decoration: none;
  color: white;
  padding: 10px;
}
nav {
  float: left;
  display: block;
  left: 2%;
}
.Main {
  text-decoration: none;
  color: white;
  display: block;
  position: absolute;
  top: 2%;
  left: 2%;
  float: left;
}

@media only screen and (max-width: 768px) {
}