nav a {
  text-decoration: none;
  color: black;
  float: left;
  font-size: medium;
}
nav {
  background-color: rgba(255, 255, 255, 0)
}
.Main {
  text-decoration: none;
  color: black;
  float: left;
  font-weight: bold;
  font-size: large;
  padding-top: 5px;
}
.Sub {
  padding: 10px;
}

@media only screen and (max-width: 768px) {
}