body {
  background: black;
  background-image: radial-gradient(white 2px, transparent 0);
  background-size: 40px 40px;
  background-position: -20px -20px;
}

.pfp {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  height: 20%;
}

@media only screen and (max-width: 768px) {
  .pfp {
    width: 50%;
    max-width: 50%;
  }
}