.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  height: 20%;
}

p {
  font-family: verdana;
  font-size: 20px;
  color: white;
  text-align: center;
}

.kotori {
  width: 15%;
  height: 55%;
  float: left;
  position: absolute;
  top: 440px;
  max-width: 100%;
}
