p {
  font-family: verdana;
  font-size: 20px;
  color: white;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

.main {
  margin-left: 10px;
  margin-top: 10px;
  float: left;
  color: white;
  border-radius: 35px;
  border-style: solid;
  border-color: white;
  border-width: medium;
  height: 700px;
  width: 1200px;
}

.pfp {
  float: left;
  border-radius: 50%;
  height: 15%%;
  width: 15%;
  padding-left: 50px;
  padding-top: 50px;
}

h1 {
  font-family: verdana;
  font-size: 25px;
  color: white;
  text-align: center;
}

.sidebar {
  margin-right: 10px;
  margin-top: 10px;
  float: right;
  color: white;
  border-radius: 35px;
  border-style: solid;
  border-color: white;
  border-width: medium;
  height: 700px;
  width: 610px;
}

.sidebar iframe {
  border-radius: 35px;
  margin-left: 10px;
  margin-right: 10px;
}

.bottom {
  margin-left: 10px;
  margin-top: 10px;
  float: left;
  color: white;
  border-radius: 35px;
  border-style: solid;
  border-color: white;
  border-width: medium;
  height: 180px;
  width: 1840px;
}

.bottom a {
  color: black;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 17px;
  background-color: white;
  overflow: hidden;
  border-radius: 30px;
}

.bottom a:hover {
  background-color: black;
  color: white;
}
