.project1 {
  border-radius: 25px;
  border-style: solid;
  border-color: black;
}
.project2 {
  border-radius: 25px;
  border-style: solid;
  border-color: black;
}
.project3 {
  border-radius: 25px;
  border-style: solid;
  border-color: black;
}