.project1 {
  border-radius: 25px;
  border-style: solid;
  border-color: black;
  display: block;
  position: relative;
  float: right;
  right: 30%;
  width: 75%;
  margin: 20px;
}
.project2 {
  border-radius: 25px;
  border-style: solid;
  border-color: black;
  display: block;
  position: relative;
  float: right;
  right: 30%;
  width: 75%;
  margin: 20px;
}
.project3 {
  border-radius: 25px;
  border-style: solid;
  border-color: black;
  display: block;
  position: relative;
  float: right;
  right: 30%;
  width: 75%;
  margin: 20px;
}

.project1 img {
  width: 15%;
  float: right;
}
.project2 img {
  width: 15%;
  float: right;
}
.project3 img {
  width: 15%;
  float: right;
}

.project1 p {
  float: right;
}
.project2 p {
  float: right;
}
.project3 p {
  float: right;
}