.project-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: Comfortaa;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20px;
}
.project {
  flex: 25%;
  margin: auto;
  border-radius: 25px;
  border-style: solid;
  border-color: white;
  width: auto;
  height: auto;
  margin: 10px;
  overflow: hidden;
  padding: 20px;
  text-align: center;
  background-image: linear-gradient(to bottom right, rgb(48, 173, 231), rgb(149, 25, 221));
}
.project img {
  width: 20%;
  float: left;
  margin-right: 10px;
}
.project a {
  text-align: center;
  left: 50%;
  text-decoration: none;
  background-color: aqua;
  color: white;
  border-radius: 25px;
  border: solid gray 0;
  padding: 10px;
  font-size: medium;
  transition: all 500ms;
}
.project a:hover {
  background-color: white;
  color: black;
  border: solid gray 2px;
}

@media only screen and (max-width: 768px) {
}