.content {
    left: 50%;
    font-family: Comfortaa;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
}
.title1 {
    flex: 10%;
    margin: 20px;
    background-image: linear-gradient(to bottom right, rgb(224, 28, 87), rgb(230, 149, 27));
    border-color: white;
    border-style: solid;
    border-radius: 25px;
    text-align: center;
    width: auto;
    height: auto;
}
.title2 {
    flex: 10%;
    margin: 20px;
    background-image: linear-gradient(to bottom right, rgb(241, 105, 146), rgb(101, 230, 27));
    border-color: white;
    border-style: solid;
    border-radius: 25px;
    text-align: center;
    width: auto;
    height: auto;
}
@media only screen and (max-width: 768px) {
}